In [2]:
# Library import
import pandas as pd

In [4]:
# Read data
products_woo = pd.read_csv("./data/products_woo.csv")
products_ccv = pd.read_csv("./data/products_ccv.csv")

In [5]:
products_woo

,order_number,quantity,item_set,items
0,506,1,1,"yerba mate 100 gram, bombilla, kalebas"
1,513,1,1,"yerba mate 100 gram, bombilla, kalebas"
2,526,2,1,"yerba mate 100 gram, bombilla, kalebas, yerba ..."
3,527,1,1,"yerba mate 100 gram, bombilla, kalebas"
4,528,2,1,"yerba mate 100 gram, bombilla, kalebas"
...,...,...,...,...
320,899,3,0,"yerba mate 500 gram, bombilla, kalebas"
321,900,3,0,"yerba mate 500 gram, bombilla, kalebas"
322,901,3,0,"yerba mate 100 gram, bombilla, kalebas"
323,902,3,0,"yerba mate 100 gram, bombilla, kalebas"
324,903,4,0,"yerba mate 100 gram, bombilla, kalebas, cadeau..."