In [1]:
# Library import
import pandas as pd
import numpy as np
import re
import pymysql

from sqlalchemy import create_engine
from pandas.util import hash_pandas_object

In [2]:
# Create engine
engine = create_engine('mysql+pymysql://root:XXXXXXX@localhost:3306/project-module2')

In [3]:
# Read data
orders = pd.read_sql_query('SELECT * FROM orders', engine)
customers = pd.read_sql_query('SELECT * FROM customers', engine)
products = pd.read_sql_query('SELECT * FROM products', engine)

In [4]:
# Remove \r from last columns
orders["email"] = orders["email"].str.replace("\r","")
customers["last_order_date"] = customers["last_order_date"].str.replace("\r","")
products["item_price"] = products["item_price"].str.replace("\r","")

In [5]:
# Drop duplicates
before = len(customers)
customers = customers.drop_duplicates()
after = len(customers)
print("Number of rows dropped",str(before-after))

Number of rows dropped 11

In [6]:
# Change datatypes
orders["order_total"] = orders["order_total"].astype(float)
products["item_price"] = products["item_price"].astype(float)
orders["order_number"] = orders["order_number"].astype(str)

orders["email"] = orders["email"].str.lower()
customers["email"] = customers["email"].str.lower()

In [7]:
# Rename items
products["item_name"] = products["item_name"].str.replace("Yerba mate set (kopie)","Yerba mate set")

In [8]:
# Create column where item_set is True or False
products["item_set"] = np.where((products.item_name == "Yerba mate set")|(products.item_name == "Yerba mate set compleet"), 1, 0)

In [9]:
# Where product is a yerba mate set, with child items, set quantity to zero
qty0 = (products.item_name == "Yerba mate set") & (products.item_price <= 0)

# Where product is a yerba mate & bombilla, set quantity to 2
qty2 = (products.item_name == "Yerba mate & Bombilla")

# Where product is a yerba mate set, but without child items, set quantity to 3
qty3 = (products.item_name == "Yerba mate set") & (products.item_price > 0)

# Where product is a yerba mate set, but without child items, set quantity to 3
qty4 = (products.item_name == "Yerba mate set compleet")


products["total_quantity"] = np.select([qty0,qty2,qty3,qty4], [0,2,3,4], 
                           default=1)

In [10]:
# These are grouped products and are not products themselves
# Therefore we drop these rows

before = len(products)
products = products.drop(products[(products["item_name"]=="Yerba mate set") & 
                     (products["total_quantity"] == 0)].index)
after = len(products)
print("Number of rows dropped",str(before-after))

Number of rows dropped 151

In [11]:
# Create variable to join item names
combine_text = lambda x: ", ".join(x.unique())

# Group all item names by order number
products = products.groupby(["order_number"]).agg({"item_price":"sum","quantity":"sum","item_set":"sum","item_name":combine_text}).reset_index()
products["item_name"] = products["item_name"].str.lower()

In [12]:
# Rename items

products["item_name"] = products["item_name"].str.replace("Afrekenen","kalebas")
products["item_name"] = products["item_name"].str.replace("kalebas - traditioneel","kalebas")
products["item_name"] = products["item_name"].str.replace("Mateology â€“ The Drink Beyond a Drink","Mateology")
products["item_name"] = products["item_name"].str.replace("100 gram","yerba mate 100 gram")
products["item_name"] = products["item_name"].str.replace("500 gram","yerba mate 500 gram")
products["item_name"] = products["item_name"].str.replace("Yerba mate set compleet","yerba mate 100 gram, bombilla, kalebas, mateology")
products["item_name"] = products["item_name"].str.replace("yerba mate set compleet","yerba mate 100 gram, bombilla, kalebas, mateology")
products["item_name"] = products["item_name"].str.replace("Yerba mate set","yerba mate 100 gram, bombilla, kalebas")
products["item_name"] = products["item_name"].str.replace("yerba mate set","yerba mate 100 gram, bombilla, kalebas")

products = products.rename(columns={"item_name":"items"})

In [13]:
products = products.drop("item_price",axis=1)

In [14]:
# Merging quantity and item information into orders

# change dtypes first
orders["order_number"] = orders["order_number"].astype(str)
products["order_number"] = products["order_number"].astype(str)

# Merge
orders = pd.merge(orders, products, on="order_number")

In [15]:
# Calculate total revenue from same customer
order_total = orders.groupby("email").agg({"order_total":"sum","quantity":"sum","order_number":combine_text}).reset_index()
order_total.columns=["email","revenue","quantity","order_number"]
order_total = order_total.sort_values("revenue", ascending=False)

# Calculate total orders from same customer
order_count = orders.groupby("email").agg({"order_total":"count"}).reset_index()
order_count.columns=["email","orders"]
order_count = order_count.sort_values("orders", ascending=False)

In [16]:
# Merge total revenue and order count to data
data = pd.merge(customers, order_total, on="email")
data = pd.merge(data, order_count, on="email")
data = data.sort_values("revenue", ascending=False)

In [17]:
# Drop duplicates (Some customers have duplicate info because they have other adress)
before = len(data)
data = data.drop_duplicates(subset="email", keep="last")
after = len(data)
print("Number of rows dropped",str(before-after))

Number of rows dropped 1

In [18]:
# Drop unnecessary column
data = data.drop("total_orders",axis=1)

In [19]:
# Reorder column names
data = data[["email","postal_code","city","country","first_order_date","last_order_date","order_number","orders","quantity","revenue"]]

In [20]:
# Check NaN values
data.isnull().sum()

email               0
postal_code         0
city                0
country             0
first_order_date    0
last_order_date     0
order_number        0
orders              0
quantity            0
revenue             0
dtype: int64

In [23]:
# Export data to csv
data.to_csv("./data/data_woo.csv", index=False)
# orders.to_csv("./data/orders.csv", index=False)
# customers.to_csv("./data/customers.csv", index=False)
products.to_csv("./data/products_woo.csv", index=False)